.container {
  display: flex;
  flex-direction: row;
  height: 27rem;
}

.left-div {
  margin: 0 10px;
  width: 30%;
  padding: 0 20px;
}

.left-div p {
  font-size: 13;
  line-height: 1.5rem;
}

.left-div .footer {
  display: flex;
  flex-direction: row;
}
.left-div .footer .download-button {
  background-color: black;
  margin: 8px;
  font-weight: bold;
  width: 50%;
  height: 3rem;
}

.about-image {
  width: 60%;
}

.right-div {
  background-color: rgb(232, 224, 210);
  width: 25%;
  margin: 0 10px;
  text-align: center;
  padding: 50px 10px;
}

.right-div p {
  font-size: 18px;
}
h1 {
  font-size: 53px;
}
