.container {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 76%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
